* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.loadingInfo {
  padding: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo > img {
  width: 80px;
  height: auto;
}

.perk-image {
  margin-top: 0.5em;
  width: 30px;
}

li > span {
  padding-left: 1em;
  padding-top: 0.5em;
}

li > div > p {
  margin-top: 0.5em;
}

li {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

li > img {
  width: 70px;
}

hr {
  border: 0;
  height: 6px;
  background-color: #cdc7aa;
  width: 4em;
  margin-bottom: 1em;
  margin-left: 0;
  text-align: left;
}

#root {
  margin: 0 auto;
  max-width: 800px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "image" "description" "items" "footer";
  border-top: 3px solid #cdc7aa;
}

header {
  display: grid;
  grid-template-columns: auto 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo title";
  grid-area: header;
}

.logo {
  grid-area: logo;
  background-color: #2c4b29;
  padding: 1.5em;
}

.title {
  grid-area: title;
  background-color: #426447;
  padding: 2em;
}

.title > p {
  color: white;
}

.image {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: image;
}

.map {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: map;
}

.description {
  padding: 1em;
  grid-area: description;
}

.description > p {
  margin-top: 0.5em;
  color: #9a9999;
}

.item > span > p {
  color: #9a9999;
}

.description > h2,
main > h2,
.item > span > h3 {
  color: #cdc7aa;
}

main {
  grid-area: items;
  padding: 1em;
}

.item {
  display: grid;
  grid-template-columns: 70px 5fr;
  grid-auto-rows: minmax(70px, auto);
  grid-template-areas: "item-image item-info";
  grid-area: item;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-image {
  grid-area: item-image;
}

.item-info {
  grid-area: item-info;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 1em;
  background-color: #000000; /*#2c4b29;*/
  grid-area: footer;
  color: rgba(255, 255, 255, 0.3);
}
